# Hiden files
.*

# Database configs
configs/*.conf
configs/*.inc
configs/*.php

# Composer
# vendor/
# !vendor/vinegod # not including
vendor/composer
vendor/tecnickcom
vendor/autoload.php
composer.lock
vendor-bin/

.env

# But indexing gitignore & other
!.gitignore
!*.example
