<div>
    <h1>Контактна інформація</h1>
    <p>Якась контактна інформація</p>
</div>

<div id="google">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d531.2215100318215!2d24.730203029214337!3d49.12349627636746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473093d132538663%3A0xf34fe5c40b1d031d!2sMr.%20R%20O%20B%20O%20T!5e1!3m2!1suk!2sua!4v1616333546018!5m2!1suk!2sua" allowfullscreen="" loading="lazy">
	</iframe>
</div>